<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user-pages-style.css') }}">
    <title>About Us</title>
</head>
<body>
    <header>
        <h1>Name of app</h1>
        <div class="header-btn">
            {% if current_user.is_authenticated %}
                <button>Вітаємо {{ current_user.username }}</button>
                {% if current_user.isAdmin %}
                    <a href="{{ url_for('admin') }}"><button>Адміністрування</button></a>
                {% endif %}
                <a href="{{ url_for('forum') }}"><button>Форум</button></a>
                <a href="{{ url_for('logout') }}"><button>Вийти</button></a>
                <button>Notification</button>
            {% else %}
                <a href="{{ url_for('login') }}"><button>Увійти</button></a>
                <a href="{{ url_for('register') }}"><button>Зареєструватись</button></a>
            {% endif %}
        </div>
    </header>
    <main>
        <h1>About Us</h1>
        <p>Welcome to our forum!</p>
    </main>
</body>
</html>