<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin-style.css') }}">
    <title>Edit</title>
</head>
<body>
    <header>
        <a href="{{ url_for('all_users') }}"><button>Перелік користувачі</button></a>
        <a href="{{ url_for('admin') }}"><button>Додати лісництво</button></a>
        <a href="{{ url_for('change') }}"><button>Керувати лісництвами</button></a>
    </header>
    <main>
        <form action="{{ url_for('edit', id=forest.id) }}" method="post">
            <div>
                <label for="">Надлісництво</label>
                <select name="mainForest" id="">
                    <option value="Звернігородське">Звернігородське</option>
                    <option value="Корсунь-Шевченківське">Корсунь-Шевченківське</option>
                    <option value="Черкаське">Черкаське</option>
                </select>

                <label for="">Лісництво</label>
                <input type="text" name="forest" value="{{ forest.forest }}" required>
            </div>

            <div>

            <label for="">Вид рубки</label>
                <select name="typeCutting" id="">
                    <option value="РГК">РГК</option>
                    <option value="ОСВ">ОСВ</option>
                    <option value="ПРЧ">ПРЧ</option>
                    <option value="ПРЖ">ПРЖ</option>
                    <option value="ПРХ">ПРХ</option>
                </select>

                <label for="">Квартал</label>
                <input type="number" name="quarter" value="{{ forest.quarter }}" required>

                <label for="">Виділ</label>
                <input type="number" step="any" name="department" value="{{ forest.department }}" required>

                <label for="">Площа</label>
                <input type="number" step="any" name="area" value="{{ forest.area }}" required>

            </div>

            <div>
                <label for="">Об'єм відповідно до матеріалів лісовпорядкування</label>
                <input type="number" name="volumeForestManagement" value="{{ forest.volumeForestManagement }}" required>
                
                <label for="">Місяць</label>
                <select name="month" id="">
                    <option value="Січень">Січень</option>
                    <option value="Лютий">Лютий</option>
                    <option value="Березень">Березень</option>
                    <option value="Квітень">Квітень</option>
                    <option value="Травень">Травень</option>
                    <option value="Червень">Червень</option>
                    <option value="Липень">Липень</option>
                    <option value="Серпень">Серпень</option>
                    <option value="Вересень">Вересень</option>
                    <option value="Жовтень">Жовтень</option>
                    <option value="Листопад">Листопад</option>
                    <option value="Грудень">Грудень</option>
                </select>
    
                <label for="">Декада</label>
                <input type="text" name="decade" value="{{ forest.decade }}" required>
    
                <label for="">Рік рубки</label>
                <select name="year" id="">
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                </select> 
            </div>
            <button type="submit">Зберегти</button>
        </form>
    </main>
</body>
</html>