<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/commit.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/forum-style.css') }}">
    <title>Forum</title>
</head>
<body>
    <header>
        <h1>Name of app</h1>
        <div class="header-btn">
            {% if current_user.is_authenticated %}
                <button>Вітаємо {{ current_user.username }}</button>
                {% if current_user.isAdmin %}
                    <a href="{{ url_for('admin') }}"><button>Адміністрування</button></a>
                {% endif %}
                <a href="{{ url_for('main') }}"><button>Головна</button></a>
                <a href="{{ url_for('favorite') }}"><button>Улюблені</button></a>
                <a href="{{ url_for('about_ass') }}"><button>Про нас</button></a>
                <a href="{{ url_for('logout') }}"><button>Вийти</button></a>
                <button id="open-commit">Notification</button>
            {% else %}
                <a href="{{ url_for('login') }}"><button>Увійти</button></a>
                <a href="{{ url_for('register') }}"><button>Зареєструватись</button></a>
            {% endif %}
        </div>
    </header>
    <main>
        {% for comment in comments %}
            {% if comment.userID == current_user.id %}
                <div class="my-message">
                    <div class="message-admin">
                        <p class="user-name">{{ comment.username }}</p>
                        <p class="massage">{{ comment.comment }}</p>
                    </div>
                    {{ comment.date }}
                    {% if current_user.isAdmin %}
                        <form action="{{ url_for('delete_forum_comment', id=comment.id) }}" method="POST">
                            <button type="submit">Видалити</button>
                        </form>
                    {% endif %}
                </div>
            {% else %}
                <div class="not-my-message">
                    <div class="message-admin">
                        <p class="user-name">{{ comment.username }}</p>
                        <p class="massage">{{ comment.comment }}</p>
                    </div>
                    {{ comment.date }}
                    {% if current_user.isAdmin %}
                        <form action="{{ url_for('delete_forum_comment', id=comment.id) }}" method="POST">
                            <button type="submit">Видалити</button>
                        </form>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </main>
    <form class="forms-input" action="/forum" method="POST">
        <input type="text" name="comment" placeholder="Повідомлення..." required>
        <button type="submit">Надіслати</button>
    </form>
    <div class="commit-modal">
        <button id="commit-modal-close">Close</button>
        <div class="commit-conteiner">
            {% for comit in comits %}
                <div class="commit">
                    <div>
                        <p>{{ comit.username }}</p>
                        <p>{{ comit.date }}</p>
                    </div>
                    <p>{{ comit.comment }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/openCommitWindow.js') }}"></script>
</body>
</html>