<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/commit.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/forum-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/btn-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user-favorite-style.css') }}">
    <title>Forum</title>
</head>
<body>
    <header>
        <h1>Name of app</h1>
        <div class="header-btn">
            {% if current_user.is_authenticated %}
                <span class="welcome-text">Вітаємо {{ current_user.username }}</span>
                {% if current_user.isAdmin %}
                    <a href="{{ url_for('admin') }}"><button>Адміністрування</button></a>
                {% endif %}
                <a href="{{ url_for('main') }}"><button>Головна</button></a>
                <a href="{{ url_for('favorite') }}"><button>Улюблені</button></a>
                <a href="{{ url_for('about_ass') }}"><button>Про нас</button></a>
                <a href="{{ url_for('logout') }}" class="logout-btn">

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M17.7071 7.79289C17.3166 7.40237 16.6834 7.40237 16.2929 7.79289C15.9024 8.18342 15.9024 8.81658 16.2929 9.20711L18.0858 11H9C8.44772 11 8 11.4477 8 12C8 12.5523 8.44772 13 9 13H18.0858L16.2929 14.7929C15.9024 15.1834 15.9024 15.8166 16.2929 16.2071C16.6834 16.5976 17.3166 16.5976 17.7071 16.2071L20.5 13.4142C21.2811 12.6332 21.281 11.3668 20.5 10.5858L17.7071 7.79289Z" fill="#10b981"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3 5C3 3.34315 4.34315 2 6 2H12C13.6569 2 15 3.34315 15 5V6C15 6.55228 14.5523 7 14 7C13.4477 7 13 6.55228 13 6V5C13 4.44772 12.5523 4 12 4H6C5.44772 4 5 4.44772 5 5V19C5 19.5523 5.44772 20 6 20H12C12.5523 20 13 19.5523 13 19V18C13 17.4477 13.4477 17 14 17C14.5523 17 15 17.4477 15 18V19C15 20.6569 13.6569 22 12 22H6C4.34315 22 3 20.6569 3 19V5Z" fill="#10b981"/>
                    </svg>
                </a>
                <button id="open-commit" class="logout-btn" style="width: 55px; height: 55px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 16.5959C2 16.2151 2.15471 15.8506 2.42864 15.586L3.45759 14.5922C3.84928 14.2139 4.06977 13.6922 4.06814 13.1476L4.05867 9.9946C4.04543 5.58319 7.61789 2 12.0293 2C16.4314 2 20 5.56859 20 9.97067L20 13.1716C20 13.702 20.2107 14.2107 20.5858 14.5858L21.5858 15.5858C21.851 15.851 22 16.2107 22 16.5858C22 17.3668 21.3668 18 20.5858 18H16C16 20.2091 14.2091 22 12 22C9.79086 22 8 20.2091 8 18H3.40408C2.62863 18 2 17.3714 2 16.5959ZM10 18C10 19.1046 10.8954 20 12 20C13.1046 20 14 19.1046 14 18H10ZM18 13.1716C18 14.2324 18.4214 15.2499 19.1716 16L4.87851 16C5.64222 15.246 6.07136 14.2161 6.06813 13.1416L6.05867 9.9886C6.04875 6.6841 8.7248 4 12.0293 4C15.3268 4 18 6.67316 18 9.97067L18 13.1716Z" fill="#10b981"/>
                    </svg>
                </button>
            {% else %}
                <a href="{{ url_for('login') }}"><button>Увійти</button></a>
                <a href="{{ url_for('register') }}"><button>Зареєструватись</button></a>
            {% endif %}
        </div>
    </header>
    <main style="margin-bottom: 100px;">
        {% for comment in comments %}
            {% if comment.userID == current_user.id %}
                <div class="my-message">
                    <div class="{% if comment.isAdmin %}message-admin{% else %}message-user{% endif %} right-masage">
                        <p class="user-name">{{ comment.username }}</p>
                        <p class="massage">{{ comment.comment }}</p>
                    </div>
                    <span class="message-date">{{ comment.date }}</span>
                    {% if current_user.isAdmin %}
                        <form action="{{ url_for('delete_forum_comment', id=comment.id) }}" method="POST">
                            <button class="action-btn delete-btn" type="submit">Видалити</button>
                        </form>
                    {% endif %}
                </div>
            {% else %}
                <div class="not-my-message">
                    <div class="{% if comment.isAdmin %}message-admin{% else %}message-user{% endif %}">
                        <p class="user-name">{{ comment.username }}</p>
                        <p class="massage">{{ comment.comment }}</p>
                    </div>
                    <span class="message-date">{{ comment.date }}</span>
                    {% if current_user.isAdmin %}
                        <form action="{{ url_for('delete_forum_comment', id=comment.id) }}" method="POST">
                            <button class="action-btn delete-btn" type="submit">Видалити</button>
                        </form>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </main>
    <form class="forms-input" action="/forum" method="POST">
        <input type="text" name="comment" placeholder="Повідомлення..." required>
        <button type="submit">Надіслати</button>
    </form>
    <div class="commit-modal">
        <button id="commit-modal-close">Close</button>
        <div class="commit-conteiner">
            {% for comit in comits %}
                <div class="commit">
                    <div>
                        <p>{{ comit.username }}</p>
                        <p>{{ comit.date }}</p>
                    </div>
                    <p>{{ comit.comment }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/openCommitWindow.js') }}"></script>
</body>
</html>