<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/scroll-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main-style.css') }}">
    <title>Main</title>
</head>
<body>
    <header>
        <h1>Name of app</h1>
        <div class="header-btn">
            {% if current_user.is_authenticated %}
                <button>Вітаємо {{ current_user.username }}</button>
                {% if current_user.isAdmin %}
                    <a href="{{ url_for('admin') }}"><button>Адміністрування</button></a>
                {% endif %}
                <a href="{{ url_for('forum') }}"><button>Форум</button></a>
                <a href="{{ url_for('about_ass') }}"><button>Про нас</button></a>
                <a href="{{ url_for('logout') }}"><button>Вийти</button></a>
                <button>Notification</button>
            {% else %}
                <a href="{{ url_for('login') }}"><button>Увійти</button></a>
                <a href="{{ url_for('register') }}"><button>Зареєструватись</button></a>
            {% endif %}
        </div>
    </header>
    <main>
        <div class="btn-forest-navigation">
            <button id="seting-btn">Налаштування</button>
            <button>Лісництво 1</button>
            <button>Лісництво 2</button>
            <button>Лісництво 3</button>
            <button>Лісництво 4</button>
        </div>
        <div>

        </div>
    </main>
    <div class="modal-overlay">
        <div class="modal-content">
            <div class="btn-navigation">
                <button onclick="sortData('mainForest')">Main Forest</button>
                <button onclick="sortData('forest')">Forest</button>
                <button onclick="sortData('typeCutting')">Type of Cutting</button>
                <button onclick="sortData('quarter')">Quarter</button>
                <button onclick="sortData('departament')">Departament</button>
                <button onclick="sortData('area')">Area</button>
                <button onclick="sortData('volumeForestManagement')">Volume Forest Management</button>
                <button onclick="sortData('month')">Month</button>
                <button onclick="sortData('decade')">Decade</button>
                <button onclick="sortData('year')">Year</button>
                <button id="close-modal">close</button>
            </div>
            <div id="forest-container">

            </div>
        <!-- {% for forest in forests %}
            <div class="db-conteiner"> 
                <p>{{forest.mainForest}}</p>
                <p>{{forest.forest}}</p>
                <p>{{forest.typeCutting}}</p>
                <p>{{forest.quarter}}</p>
                <p>{{forest.departament}}</p>
                <p>{{forest.area}}</p>
                <p>{{forest.volumeForestManagement}}</p>
                <p>{{forest.month}}</p>
                <p>{{forest.decade}}</p>
                <p>{{forest.year}}</p>
            </div>
        {% endfor %} -->
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/openDbWindow.js') }}"></script>
</body>
</html>